@model ADUVerify.Models.CreateUser
@{
    ViewBag.Title = "ListADUsers";
}
<br />
<br />
<br />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Organization unit", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.OU, ViewBag.Locations as IEnumerable<SelectListItem>, new { id = "ddlLoctions", @class = "form-control" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email id</th>
                    <th>Mobile no</th>
                    <th>Department</th>

                </tr>
            </thead>
            <tbody>
                @if (ViewBag.userlist != null)
                {
                    foreach (var item in ViewBag.userlist)
                    {
                        <tr>
                            <th scope="row">@item.UserName</th>
                            <td> @item.FirstName</td>
                            <td>@item.Emailid</td>
                            <td>@item.Mobileno</td>
                            <td>@item.Department</td>
                            <td>
                                <a data-value="@item.UserName"
                                   href="javascript:void(0)" class="btnEdit">Edit</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
}

